.victim-image{
  align-items: center;
  align-content: center;
  width: 80%;
  height: 80%;
  padding: 10%
}

.victim-text{
  text-align: center;
}

.suspect-container{
  border: 1px solid black;
}

.suspect-image{
  width: 100%;
  height: 100%;
}

.suspect-text{
  text-align: center;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.video {
  height: 200px;
}
