// @font-face {
//     font-family: Mobsters;
//     src: url('./fonts/Mobsters.ttf');
// }

@font-face {
	font-family: 'Mobsters';
	src: url('fonts/Mobsters.ttf');
	src: local('Mobsters'), local('Mobsters'), url('fonts/Mobsters.ttf') format('truetype');
}

body {
  background: #ededed;
  font-family: 'Mobsters', Arial, sans-serif;

}

h2 {
  font-size: 40px;
}

.title, .sub-title {
  text-align: center;
}

.title {
  font-size: 100px;
}

.sub-title {
  font-size: 50px;
}

.suspect-container {
  border: 1px solid black;
  height: 152px;
  margin-bottom: 20px;
  cursor: pointer;
  box-shadow: 0 0 10px black;
  background: black;
  color: white;
  &.is-hoverable:hover {
    background: #9e9e9e;
  }
}

.video {
  box-shadow: 0 0 10px white;
}

.suspect-image{
  width: 100%;
  height: 100%;
}

.suspect-text{
  text-align: center;
  font-size: 26px;
}

.red {
  background-color: #FF5C56;
}

.green {
  background-color: #43B86D;
}

.text-red {
  color: #FF5C56;
}

.text-green {
  color: #43B86D;
}

.question-container {
  margin: 20px auto;
}

.question-head {
  height: 502px;
  border: 1px solid black;
  box-shadow: 0 0 10px black;
  background: black;
  color: white;
  padding-right: 10px;
}

.float-left {
  float: left;
}

p {
  margin: 0;
}

p.suspect-name {
  line-height: 150px;
  text-align: center;
  font-size: 30px;
}

p.cause-of-death {
  text-align: left;
  font-size: 40px;
  margin-left: 515px;
  margin-top: 200px;
}

.main-pic {
  margin-bottom: 30px;
  width: 500px;
  height: 500px;
}

.clearfix {
  clear: both;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.8);
}

.modalContent {
  margin: 10% auto;
  width: 620px;
  display: block;
}

.modalContent {
  animation: grow .25s cubic-bezier(0,0,1,1) 1;
}

@keyframes grow {
  0% {transform: scale(0,0);}
  50% {transform: scale(0.5,0.5);}
  100% {transform: scale(1,1);}
}

.endModal {
  color: white;
  button {
    color: black;
  }
}

@media only screen and (max-width: 990px) {
  .main-pic {
    float: none;
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
  }
  .question-head {
    margin-bottom: 120px;
  }
  p.cause-of-death {
    padding-left: 0px;
    margin-left: 20px;
    margin-top: -20px;
    color: black;
  }
}

@media only screen and (max-width: 700px) {
  .main-pic {
    float: none;
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .question-head {
    height: 302px;
  }
}
