<!DOCTYPE html>
<html ng-app="sopranos">
<head>
  <meta charset="utf-8">
  <title>Angular Stack Setup</title>
  <!-- inject:js -->
  <!-- endinject -->
  <!-- inject:css -->
  <!-- endinject -->
</head>
<h1>The Sopranos</h1>
<h2>Who killed who?</h2>
<body class="container" ng-controller="MainCtrl as main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <div ng-repeat="question in main.questions">
        <img class="img-fluid" ng-src="{{ question.victim.img }}" alt="{{ question.victim.name }}" width="230" height="230">
        <p>{{ question.description }}</p>

        <hr>

        <div class="row">
          <div class="col-lg-3 col-md-6" ng-repeat="suspect in question.suspects">
            {{ suspect.character.name }}
          </div>

        </div>
      </div>
    </div>
  </div>



  <!-- <div ng-repeat="question in main.questions">
    <div class="col-12">
      <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
          <img class="img-fluid" ng-src="{{ question.victim.img }}" alt="{{ question.victim.name }}">
          <p>{{ question.description }}</p>
          <p>Who killed {{ question.victim.name }}?</p>
        </div>

        <div class="col-2">

        </div>
      </div>
    </div>
    <div class="row">
      <div ng-repeat="suspect in question.suspects">
        <div class="col-3">
          <img class="img-fluid" ng-src="{{ suspect.character.img }}" alt="{{ suspect.character.name }}">
        </div>
        <p>{{ suspect.character.name }}</p>
      </div>
    </div>
  </div> -->
</body>
</html>
